@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=M+PLUS+1+Code:wght@300&family=Orbitron&family=Rajdhani:wght@300&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  width: 100%;
  background: #f0ede9; }
  body #header {
    width: 100%;
    padding: 50px 4vw 0px;
    position: relative;
    text-align: center; }
    body #header h1 {
      font: bold 80px/1 'M PLUS 1 Code';
      color: #111;
      text-align: center;
      margin: 30px 0 15px; }
    body #header > p {
      width: 100%;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      font: bold 15px/1 'M PLUS 1 Code';
      color: #222;
      text-align: center; }
      body #header > p::before {
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 50%;
        left: 4vw; }
      body #header > p::after {
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 50%;
        right: 4vw; }
    body #header span {
      font: 13px/1 'roboto';
      color: #222; }
    body #header .utill {
      width: 100%;
      margin-top: 20px;
      text-align: left; }
      body #header .utill::after {
        content: '';
        display: block;
        clear: both; }
      body #header .utill li {
        float: left;
        width: calc(100% / 4);
        padding-left: 15px;
        padding-bottom: 20px;
        border-left: 1px solid #111;
        border-bottom: 1px solid #111; }
        body #header .utill li:nth-of-type(1) {
          padding-left: 0;
          border-left: none; }
        body #header .utill li a {
          font: bold 18px/1 'M PLUS 1 Code';
          color: #222;
          letter-spacing: 1px; }
        body #header .utill li p {
          font: 15px/1 'roboto';
          color: #333;
          margin-top: 8px; }
  body main {
    width: 100%;
    padding: 0 20vw 50px; }
    body main #grid {
      width: 100%; }
      body main #grid::after {
        content: '';
        display: block;
        clear: both; }
      body main #grid .item-sizer {
        width: 20%;
        height: 0px;
        opacity: 0; }
      body main #grid .item {
        width: 20%;
        height: 40vh;
        padding: 20px;
        border-bottom: 1px solid #111;
        border-right: 1px solid #111;
        float: left; }
        body main #grid .item:nth-of-type(2) {
          width: 60%;
          height: 100vh;
          border-left: 1px solid #111; }
        body main #grid .item:nth-of-type(3) {
          width: 40%;
          height: 60vh; }
          body main #grid .item:nth-of-type(3) .inner .wrap {
            width: 100%;
            height: 100%;
            display: none;
            transition: 1s; }
            body main #grid .item:nth-of-type(3) .inner .wrap.on {
              display: block; }
            body main #grid .item:nth-of-type(3) .inner .wrap h1 {
              display: inline-block;
              font: bold 15px/1 'M PLUS 1 Code';
              color: #111;
              margin-bottom: 20px; }
            body main #grid .item:nth-of-type(3) .inner .wrap .pic {
              width: 100%;
              height: 70%;
              margin-bottom: 0px;
              text-align: center; }
              body main #grid .item:nth-of-type(3) .inner .wrap .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            body main #grid .item:nth-of-type(3) .inner .wrap h2 {
              width: 100%;
              padding: 10px 0;
              margin-bottom: 30px;
              font: bold 24px/1 'M PLUS 1 Code';
              color: #111;
              letter-spacing: 1px;
              border-top: 1px solid #111;
              border-bottom: none; }
              body main #grid .item:nth-of-type(3) .inner .wrap h2 span {
                font: 12px/1 'roboto';
                color: #333; }
            body main #grid .item:nth-of-type(3) .inner .wrap p {
              width: 60%;
              font: bold 13px/1 'Rajdhani';
              color: #222;
              border-bottom: 1px solid #111;
              margin-bottom: 20px;
              padding-bottom: 10px; }
            body main #grid .item:nth-of-type(3) .inner .wrap .btn {
              position: absolute;
              top: 95px;
              right: 0;
              width: 35%;
              height: 25px;
              margin-top: 30px; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn::before {
                content: '';
                display: block;
                width: 60%;
                height: 1px;
                background: #111;
                position: absolute;
                top: 13px;
                right: 10px;
                transition: 0.5s; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn::after {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid #111;
                position: absolute;
                top: 0;
                right: 0px;
                transition: 0.5s; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn span {
                font: bold 18px/25px 'M PLUS 1 Code';
                color: #111; }
                body main #grid .item:nth-of-type(3) .inner .wrap .btn span::before {
                  content: '';
                  display: block;
                  width: 10px;
                  height: 1px;
                  background: #111;
                  position: absolute;
                  top: 13px;
                  right: 10px;
                  transform: rotate(30deg);
                  transform-origin: right center;
                  transition: 0.5s; }
                body main #grid .item:nth-of-type(3) .inner .wrap .btn span::after {
                  content: '';
                  display: none;
                  width: 10px;
                  height: 1px;
                  background: #111;
                  position: absolute;
                  top: 13px;
                  right: 10px;
                  transform: rotate(-30deg);
                  transform-origin: right center; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn:hover::before {
                background: #111;
                width: 10px;
                right: 9px; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn:hover::after {
                border-color: #111; }
              body main #grid .item:nth-of-type(3) .inner .wrap .btn:hover span::before {
                transform-origin: center center;
                transform: rotate(-90deg);
                background: #111;
                right: 9px; }
        body main #grid .item:nth-of-type(4) {
          width: 40%;
          height: 20vh; }
          body main #grid .item:nth-of-type(4) .inner {
            text-align: right; }
            body main #grid .item:nth-of-type(4) .inner h1 {
              font: bold 60px/1 'M PLUS 1 Code';
              color: #111;
              margin-bottom: 10px; }
            body main #grid .item:nth-of-type(4) .inner span {
              font: 20px/1 'M PLUS 1 Code';
              color: #fff;
              background: #111;
              padding: 0 5px; }
            body main #grid .item:nth-of-type(4) .inner p {
              width: 80%;
              font: 15px/1.2 'arial';
              color: #555;
              margin-top: 20px;
              margin-left: 20%; }
        body main #grid .item:nth-of-type(5) {
          width: 40%;
          height: 60vh; }
        body main #grid .item:nth-of-type(6) {
          width: 20%;
          border-left: 1px solid #111; }
        body main #grid .item:nth-of-type(7) {
          width: 20%; }
        body main #grid .item:nth-of-type(8) {
          width: 20%;
          height: 20vh; }
        body main #grid .item:nth-of-type(9) {
          width: 20%;
          height: 60vh; }
        body main #grid .item:nth-of-type(10) {
          width: 40%; }
        body main #grid .item:nth-of-type(11) {
          width: 40%;
          border-left: 1px solid #111; }
        body main #grid .item .inner {
          width: 100%;
          height: 100%;
          position: relative; }
          body main #grid .item .inner #navi {
            position: absolute;
            top: -10px;
            right: 0px; }
            body main #grid .item .inner #navi li {
              float: left;
              margin-left: 5px;
              cursor: pointer; }
              body main #grid .item .inner #navi li a {
                display: block;
                width: 12px;
                height: 12px;
                margin: 0 auto;
                border: 1px solid #111;
                border-radius: 50%;
                background: transparent;
                transition: 0.5s; }
              body main #grid .item .inner #navi li span {
                display: inline-block;
                font: 11px/1 'roboto';
                color: #333;
                opacity: 0;
                transform: translateY(10px);
                transition: 0.5s; }
              body main #grid .item .inner #navi li:hover span {
                opacity: 1;
                transform: translateY(0px); }
              body main #grid .item .inner #navi li.on a {
                background: #111; }
              body main #grid .item .inner #navi li.on span {
                opacity: 1;
                transform: translateY(0px); }
          body main #grid .item .inner::after {
            content: '';
            display: block;
            clear: both; }
          body main #grid .item .inner .wrap {
            width: 100%;
            height: 100%;
            display: none;
            transition: 1s; }
            body main #grid .item .inner .wrap.on {
              display: block; }
            body main #grid .item .inner .wrap h1 {
              display: inline-block;
              font: bold 15px/1 'M PLUS 1 Code';
              color: #111;
              margin-bottom: 20px; }
            body main #grid .item .inner .wrap .pic {
              width: 100%;
              height: 80%;
              margin-bottom: 20px;
              text-align: center; }
              body main #grid .item .inner .wrap .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            body main #grid .item .inner .wrap h2 {
              width: 100%;
              padding: 10px 0;
              margin-bottom: 10px;
              font: bold 24px/1 'M PLUS 1 Code';
              color: #111;
              letter-spacing: 1px;
              border-top: 1px solid #111;
              border-bottom: 1px solid #111; }
              body main #grid .item .inner .wrap h2 span {
                font: 12px/1 'roboto';
                color: #333; }
            body main #grid .item .inner .wrap p {
              font: bold 13px/1 'Rajdhani';
              color: #222;
              margin-bottom: 10px; }
            body main #grid .item .inner .wrap .btn {
              display: block;
              width: 100%;
              height: 25px;
              margin-top: 30px;
              position: relative; }
              body main #grid .item .inner .wrap .btn::before {
                content: '';
                display: block;
                width: 20%;
                height: 1px;
                background: #111;
                position: absolute;
                top: 13px;
                right: 10px;
                transition: 0.5s; }
              body main #grid .item .inner .wrap .btn::after {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid #111;
                position: absolute;
                top: 0;
                right: 0px;
                transition: 0.5s; }
              body main #grid .item .inner .wrap .btn span {
                font: bold 18px/25px 'M PLUS 1 Code';
                color: #111; }
                body main #grid .item .inner .wrap .btn span::before {
                  content: '';
                  display: block;
                  width: 10px;
                  height: 1px;
                  background: #111;
                  position: absolute;
                  top: 13px;
                  right: 10px;
                  transform: rotate(30deg);
                  transform-origin: right center;
                  transition: 0.5s; }
                body main #grid .item .inner .wrap .btn span::after {
                  content: '';
                  display: none;
                  width: 10px;
                  height: 1px;
                  background: #111;
                  position: absolute;
                  top: 13px;
                  right: 10px;
                  transform: rotate(-30deg);
                  transform-origin: right center; }
              body main #grid .item .inner .wrap .btn:hover::before {
                background: #111;
                width: 10px;
                right: 9px; }
              body main #grid .item .inner .wrap .btn:hover::after {
                border-color: #111; }
              body main #grid .item .inner .wrap .btn:hover span::before {
                transform-origin: center center;
                transform: rotate(-90deg);
                background: #111;
                right: 9px; }

/*# sourceMappingURL=style.css.map */
