* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  width: 100%;
  background: #eee; }
  body #header {
    width: 100%;
    padding: 50px 4vw 10px;
    position: relative;
    text-align: center; }
    body #header h1 {
      font: 80px/1 'arial';
      color: #111;
      text-align: center;
      margin: 30px 0 15px; }
    body #header > p {
      width: 100%;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      font: bold 13px/1 'arial';
      color: #222;
      text-align: center; }
      body #header > p::before {
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 50%;
        left: 4vw; }
      body #header > p::after {
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 50%;
        right: 4vw; }
    body #header span {
      font: 13px/1 'arial';
      color: #222; }
    body #header .utill {
      width: 100%;
      margin-top: 20px;
      text-align: left; }
      body #header .utill::after {
        content: '';
        display: block;
        clear: both; }
      body #header .utill li {
        float: left;
        width: calc(100% / 4);
        padding-left: 15px;
        padding-bottom: 20px;
        border-left: 1px solid #111;
        border-bottom: 1px solid #111; }
        body #header .utill li:nth-of-type(1) {
          padding-left: 0;
          border-left: none; }
        body #header .utill li a {
          font: bold 16px/1 'arial';
          color: #222; }
        body #header .utill li p {
          font: 15px/1 'arial';
          color: #333;
          margin-top: 8px; }
  body main {
    width: 100%;
    padding: 0 4vw; }
    body main #grid {
      width: 100%; }
      body main #grid::after {
        content: '';
        display: block;
        clear: both; }
      body main #grid .item-sizer {
        width: 25%;
        height: 0px;
        opacity: 0; }
      body main #grid .item {
        width: 25%;
        height: 30vh;
        padding: 0 10px 10px;
        border: 1px solid #111;
        float: left; }
        body main #grid .item:nth-of-type(2) {
          width: 75%;
          height: 60vh; }
        body main #grid .item:nth-of-type(4) {
          height: 15vh; }
        body main #grid .item:nth-of-type(5) {
          height: 45vh; }
        body main #grid .item:nth-of-type(6) {
          width: 25%; }
        body main #grid .item:nth-of-type(7) {
          width: 25%; }
        body main #grid .item:nth-of-type(8) {
          width: 25%;
          height: 60vh; }
        body main #grid .item:nth-of-type(9) {
          width: 50%; }
        body main #grid .item:nth-of-type(10) {
          width: 25%; }
        body main #grid .item .inner {
          width: 100%;
          height: 100%; }

/*# sourceMappingURL=style.css.map */
