@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=M+PLUS+1+Code:wght@300&family=Orbitron&family=Rajdhani:wght@300&family=Roboto+Condensed:wght@300&display=swap');

@import "reset.scss";

body{
    width: 100%;
    background: rgb(240, 237, 233);

    #header{
        width: 100%;
        padding: 50px 4vw 0px;
        position: relative;
        text-align: center;

        h1{
            font: bold 80px/1 'M PLUS 1 Code';
            color: #111;
            text-align: center;
            margin: 30px 0 15px;
        }

        >p{
            width: 100%;
            position: absolute;
            top: 30px; left: 50%;
            transform: translateX(-50%);
            font: bold 15px/1 'M PLUS 1 Code';
            color: #222;
            text-align: center;

            &::before{
                content: '';
                display: block;
                width: 40%; height: 1px;
                background: #111;
                position: absolute;
                top: 50%; left: 4vw;
            }

            &::after{
                content: '';
                display: block;
                width: 40%; height: 1px;
                background: #111;
                position: absolute;
                top: 50%; right: 4vw;
            }
        }

        span{
            font: 13px/1 'roboto';
            color: #222;
        }

        .utill{
            width: 100%; 
            margin-top: 20px;
            text-align: left;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                width: calc(100% / 4);
                padding-left: 15px;
                padding-bottom: 20px; 
                border-left: 1px solid #111;
                border-bottom: 1px solid #111;
                

                &:nth-of-type(1){
                    padding-left: 0;
                    border-left: none;
                }

                a{
                    font: bold 18px/1 'M PLUS 1 Code';
                    color: #222;
                    letter-spacing: 1px;
                }

                p{
                    font: 15px/1 'roboto';
                    color: #333;
                    margin-top: 8px;
                }
            }
        }
    }
    
    main{
        width: 100%;
        padding: 0 20vw 50px;

        #grid{
            width: 100%;

            &::after{
                content: ''; display: block; clear: both;
            }

            .item-sizer{
                width: 20%; height: 0px;
                opacity: 0;
            }

            .item{
                width: 20%; height: 40vh;
                padding: 20px;
                border-bottom: 1px solid #111;
                border-right: 1px solid #111;
                float: left;

                &:nth-of-type(2){
                    width: 60%; height: 100vh;
                    border-left: 1px solid #111;
                }

                &:nth-of-type(3){
                    width: 40%; height: 60vh;

                    .inner{
                        .wrap{
                            width: 100%; height: 100%;
                            display: none;
                            transition: 1s;
    
                            &.on{
                                display: block;
                            }
                            
                            h1{
                                display: inline-block;
                                font: bold 15px/1 'M PLUS 1 Code';
                                color: #111;
                                margin-bottom: 20px;
                            }
    
                            .pic{
                            width: 100%; height: 70%;
                            margin-bottom: 0px;
                            text-align: center;
    
                                img{
                                    width: 100%; height: 100%;
                                    object-fit: cover;
                                }
                            }
    
                            h2{
                                width: 100%;
                                padding: 10px 0;
                                margin-bottom: 30px;
                                font: bold 24px/1 'M PLUS 1 Code';
                                color: #111;
                                letter-spacing: 1px;
                                border-top: 1px solid #111;
                                border-bottom: none;
    
                                span{
                                    font: 12px/1 'roboto';
                                    color: #333;
                                }
                            }
    
                            p{
                                width: 60%;
                                font: bold 13px/1 'Rajdhani';
                                color: #222;
                                border-bottom: 1px solid #111;
                                margin-bottom: 20px;
                                padding-bottom: 10px;
                            }
                            
                            .btn{
                                position: absolute;
                                top: 95px; right: 0;
                                width: 35%; height: 25px;
                                margin-top: 30px;
        
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 60%; height: 1px;
                                    background: #111;
                                    position: absolute;
                                    top: 13px; right: 10px;
                                    transition: 0.5s;
                                }
        
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 25px; height: 25px;
                                    border-radius: 50%;
                                    border: 1px solid #111;
                                    position: absolute;
                                    top: 0; right: 0px;
                                    transition: 0.5s;
                                }
        
                                span{
                                    font: bold 18px/25px 'M PLUS 1 Code';
                                    color: #111;
        
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 10px; height: 1px;
                                        background: #111;
                                        position: absolute;
                                        top: 13px; right: 10px;
                                        transform: rotate(30deg);
                                        transform-origin: right center;
                                        transition: 0.5s;
                                    }
        
                                    &::after{
                                        content: '';
                                        display: none;
                                        width: 10px; height: 1px;
                                        background: #111;
                                        position: absolute;
                                        top: 13px; right: 10px;
                                        transform: rotate(-30deg);
                                        transform-origin: right center;
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(4){
                    width: 40%; height: 20vh;

                    .inner{
                        text-align: right;

                        h1{
                            font: bold 60px/1 'M PLUS 1 Code';
                            color: #111;
                            // border-bottom: 2px solid #111;
                            // padding-bottom: 10px;
                            margin-bottom: 10px;
                        }

                        span{
                            font: 20px/1 'M PLUS 1 Code';
                            color: #fff;
                            background: #111;
                            padding: 0 5px;
                        }

                        p{
                            width: 80%;
                            font: 15px/1.2 'arial';
                            color: #555;
                            margin-top: 20px;
                            margin-left: 20%;
                        }
                    }
                }

                &:nth-of-type(5){
                    width: 40%; height: 60vh;
                }

                &:nth-of-type(6){
                    width: 20%;
                    border-left: 1px solid #111;

                    .inner{
                        span{
                            display: block;
                            width: 100%; height: 30px;
                            margin: 150px auto;
                            background: #111;
                            backdrop-filter: blur(30px);
                            text-align: center;
                            font: 20px/30px 'M PLUS 1 Code';
                            color: #eee;
                        }
                    }
                }

                &:nth-of-type(7){
                    width: 20%;

                    .inner{
                        .pic{
                            width: 100%; height: 100%;

                            img{
                                width: 100%; height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
    
                &:nth-of-type(8){
                    width: 20%; height: 60vh;
                }
                
                &:nth-of-type(9){
                    width: 40%;

                    .inner{
                        p{
                            width: 100%; height: 100%;
                            font: 75px/1 'M PLUS 1 Code';
                            color: #333;
                            text-align: right;
                            letter-spacing: 10px;
                            border-top: 2px solid #111;
                            border-bottom: 2px solid #111;

                            b{
                                font: bold 90px/1 'M PLUS 1 Code';
                                color: #111;
                            }
                        }
                    }
                }

                &:nth-of-type(10){
                    width: 40%;
                    border-left: 1px solid #111;

                    .inner{
                        .wrap{
                            width: 100%; height: 100%;
                            display: none;
                            transition: 1s;
    
                            &.on{
                                display: block;
                            }
                            
                            h1{
                                display: inline-block;
                                font: bold 15px/1 'M PLUS 1 Code';
                                color: #111;
                                margin-bottom: 20px;
                            }
    
                            .pic{
                                width: 100%; height: 80%;
                                margin-bottom: 0px;
                                position: absolute;
                                top: 40px; left: 0;
                                z-index: 1;
        
                                    img{
                                        width: 100%; height: 100%;
                                        object-fit: cover;
                                    }
                            }
    
                            h2{
                                width: 100%;
                                padding: 10px 0;
                                margin-bottom: 20px;
                                border-top: 1px solid #111;
                                border-bottom: 1px solid #111;
                                position: absolute;
                                top: 85%; left: 0;
                                transform: translateY(-50%);
                                font: bold 24px/1 'M PLUS 1 Code';
                                color: #111;
                                letter-spacing: 1px;
                                backdrop-filter: blur(10px);
                                z-index: 2;
    
                                span{
                                    font: 12px/1 'roboto';
                                    color: #333;
                                }
                            }
    
                            p{
                                font: bold 13px/1 'Rajdhani';
                                color: #222;
                                margin-bottom: 10px;
                                position: absolute;
                                top: 85%; right: 0;
                                z-index: 2;
                            }
                            
                            .btn{
                                display: block;
                                width: 100%; height: 25px;
                                margin-top: 30px;
                                position: absolute;
                                bottom: -10px; left: 0;
        
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 20%; height: 1px;
                                    background: #111;
                                    position: absolute;
                                    top: 13px; right: 10px;
                                    transition: 0.5s;
                                }
        
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 25px; height: 25px;
                                    border-radius: 50%;
                                    border: 1px solid #111;
                                    position: absolute;
                                    top: 0; right: 0px;
                                    transition: 0.5s;
                                }
        
                                span{
                                    font: bold 18px/25px 'M PLUS 1 Code';
                                    color: #111;
        
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 10px; height: 1px;
                                        background: #111;
                                        position: absolute;
                                        top: 13px; right: 10px;
                                        transform: rotate(30deg);
                                        transform-origin: right center;
                                        transition: 0.5s;
                                    }
        
                                    &::after{
                                        content: '';
                                        display: none;
                                        width: 10px; height: 1px;
                                        background: #111;
                                        position: absolute;
                                        top: 13px; right: 10px;
                                        transform: rotate(-30deg);
                                        transform-origin: right center;
                                    }
                                }
    
                                &:hover{
                                    &::before{
                                        background: #111;
                                        width: 10px;
                                        right: 9px;
                                    }
        
                                    &::after{
                                        border-color: #111;
                                    }
        
                                    span{
                                        &::before{
                                            transform-origin: center center;
                                            transform: rotate(-90deg);
                                            background: #111;
                                            right: 9px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(11){
                    width: 20%; height: 20vh;
                }

                .inner{
                    width: 100%; height: 100%;
                    position: relative;

                    #navi{
                        position: absolute;
                        top: -10px; right: 0px;

                        li{
                            float: left;
                            margin-left: 5px;
                            cursor: pointer;

                            a{
                                display: block;
                                width: 12px; height: 12px;
                                margin: 0 auto;
                                border: 1px solid #111;
                                border-radius: 50%;
                                background: transparent;
                                transition: 0.5s;
                            }

                            span{
                                display: inline-block;
                                font: 11px/1 'roboto';
                                color: #333;
                                opacity: 0;
                                transform: translateY(10px);
                                transition: 0.5s;
                            }

                            &:hover{
                                span{
                                    opacity: 1;
                                    transform: translateY(0px);
                                }
                            }

                            &.on{
                                a{
                                    background: #111;
                                }

                                span{
                                    opacity: 1;
                                    transform: translateY(0px);
                                }
                            }
                        }
                    }

                    &::after{
                        content: ''; display: block; clear: both;
                    }

                    .wrap{
                        width: 100%; height: 100%;
                        display: none;
                        transition: 1s;

                        &.on{
                            display: block;
                        }
                        
                        h1{
                            display: inline-block;
                            font: bold 15px/1 'M PLUS 1 Code';
                            color: #111;
                            margin-bottom: 20px;
                        }

                        .pic{
                        width: 100%; height: 80%;
                        margin-bottom: 20px;
                        text-align: center;

                            img{
                                width: 100%; height: 100%;
                                object-fit: cover;
                            }
                        }

                        h2{
                            width: 100%;
                            padding: 10px 0;
                            margin-bottom: 10px;
                            font: bold 24px/1 'M PLUS 1 Code';
                            color: #111;
                            letter-spacing: 1px;
                            border-top: 1px solid #111;
                            border-bottom: 1px solid #111;

                            span{
                                font: 12px/1 'roboto';
                                color: #333;
                            }
                        }

                        p{
                            font: bold 13px/1 'Rajdhani';
                            color: #222;
                            margin-bottom: 10px;
                        }
                        
                        .btn{
                            display: block;
                            width: 100%; height: 25px;
                            margin-top: 30px;
                            position: relative;
    
                            &::before{
                                content: '';
                                display: block;
                                width: 20%; height: 1px;
                                background: #111;
                                position: absolute;
                                top: 13px; right: 10px;
                                transition: 0.5s;
                            }
    
                            &::after{
                                content: '';
                                display: block;
                                width: 25px; height: 25px;
                                border-radius: 50%;
                                border: 1px solid #111;
                                position: absolute;
                                top: 0; right: 0px;
                                transition: 0.5s;
                            }
    
                            span{
                                font: bold 18px/25px 'M PLUS 1 Code';
                                color: #111;
    
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 10px; height: 1px;
                                    background: #111;
                                    position: absolute;
                                    top: 13px; right: 10px;
                                    transform: rotate(30deg);
                                    transform-origin: right center;
                                    transition: 0.5s;
                                }
    
                                &::after{
                                    content: '';
                                    display: none;
                                    width: 10px; height: 1px;
                                    background: #111;
                                    position: absolute;
                                    top: 13px; right: 10px;
                                    transform: rotate(-30deg);
                                    transform-origin: right center;
                                }
                            }

                            &:hover{
                                &::before{
                                    background: #111;
                                    width: 10px;
                                    right: 9px;
                                }
    
                                &::after{
                                    border-color: #111;
                                }
    
                                span{
                                    &::before{
                                        transform-origin: center center;
                                        transform: rotate(-90deg);
                                        background: #111;
                                        right: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }   
    }
    
}