@charset 'utf-8';
@import "reset.scss";

body{
    width: 100%;
    background: #eee;

    #header{
        width: 100%;
        padding: 50px 100px;

        h1{
            font: 60px/1 'arial';
            color: #111;
            text-align: right;

            &::after{
                content: ''; display: block; clear: both;
            }

            strong{
                float: left;
                margin-right: 50px;
                font: 60px/1 'arial';
                color: #111;
            }
        }

        span{
            position: absolute;
            top: 10px; left: 100px;
            font: 13px/1 'arial';
            color: #222;
        }

        .utill{
            position: absolute;
            top: 5px; right: 100px;

            li{
                float: left;
                margin-left: 10px;

                a{
                    font: 13px/1 'arial';
                    color: #222;
                }
            }
        }
    }

    main{
        width: 100%;
        padding: 20px 100px;

        #grid{
            width: 100%;
            border: 1px solid #111;

            &::after{
                content: ''; display: block; clear: both;
            }

            .item-sizer{
                width: 25%; height: 0px;
                opacity: 0;
            }

            .item{
                width: 25%; height: 30vh;
                padding: 10px;
                float: left;

            }
        }   
    }
}