@charset 'utf-8';
@import "reset.scss";

body{
    width: 100%;
    background: #eee;

    #header{
        width: 100%;
        padding: 50px 20px;

        h1{
            font: bold 60px/1 'arial';
            color: #111;
            text-align: right;

            &::after{
                content: ''; display: block; clear: both;
            }

            strong{
                float: left;
                margin-right: 50px;
            }
        }

        span{
            position: absolute;
            top: 5px; left: 20px;
            font: 13px/1 'arial';
            color: #222;
        }
    }
}